::content html {
    color: #000;
    background: #FFF;
}

::content body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, fieldset, legend,
input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

::content table {
    border-collapse: collapse;
    border-spacing: 0;
}

::content fieldset, img {
    border: 0;
}

::content address, caption, cite, code, dfn, em, strong,
th, var, optgroup {
    font-style: inherit;
    font-weight: inherit;
}

::content del, ins {
    text-decoration: none;
}

::content li {
    list-style: none;
}

::content caption, th {
    text-align: left;
}

::content h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

::content q:before, q:after {
    content: '';
}

::content abbr, acronym {
    border: 0;
    font-variant: normal;
}

::content sup {
    vertical-align: baseline;
}

::content sub {
    vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
::content legend {
    color: #000;
}

::content input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
::content input, button, textarea, select {
    *font-size: 100%;
}